.form {
  padding-bottom: 55px;
  min-width: 320px;
  @include mobile-padding;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }

}

.form__description {
  font-size: 13px;
  margin-top: 17px;
  margin-bottom: 9px;
  @media (min-width: $tablet) {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 54px;
    font-size: 17px;
    line-height: 30px;
  }
  @media (min-width: $desktop) {
    padding-left: 225px;
    padding-right: 223px;
    max-width: 1150px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.form__fieldset {
  @include list-reset;
  border: none;
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    padding: 66px 0px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    width: 100vw;
    box-sizing: border-box;
  }

  &--radio {
    margin-bottom: 23px;

    @media (min-width: $tablet) {
      padding-top: 42px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop) {
      padding-top: 61px;
    }
  }

  &--checkbox {
    margin-bottom: 22px;

    @media (min-width: $tablet) {
      padding-top: 47px;
      padding-bottom: 20px;
    }

    @media (min-width: $desktop) {
      padding-top: 48px;
    }
  }

  &--text-input {
    margin-bottom: 34px;

    @media (min-width: $tablet) {
      padding-top: 47px;
      padding-bottom: 50px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop) {
      padding-top: 46px;
    }
  }

  &--color {
    @media (min-width: $tablet) {
      background-color: $light-grey3;
      margin: 0;
    }
    @media (min-width: $desktop) {
      width: 100%;
    }
  }
}


.form__fieldset-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop) {
    padding-left: 111px;
    box-sizing: border-box;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;


    &--button {
      width: 1150px;
      margin: 0 auto;
      box-sizing: border-box;
      padding-left: 225px;
      padding-right: 225px;

    }

    &--contacts {
      padding-right: 224px;

    }



  }
}


.form__title {
  margin: 0;
  position: relative;
  width: 100%;
  margin-bottom: 37px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $cyan1;

  @media (min-width: $tablet) {
    width: 150px;
    margin-bottom: 0;
    margin-right: 103px;
    font-size: 17px;
    line-height: 16px;
  }

  &--radio {
    margin-bottom: 35px;

    @media (min-width: $tablet) {
      margin-right: 35px;
    }

    @media (min-width: $desktop) {
      width: 88px;
      margin-right: 17px;
    }
  }

  &--checkbox {
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      margin-right: 55px;
    }

    @media (min-width: $desktop) {
      width: 91px;
      margin-right: 34px;
    }
  }

  &--text-input {
    margin-bottom: 29px;

    @media (min-width: $tablet) {
      margin-right: 53px;
    }

    @media (min-width: $desktop) {
      width: 93px;
      margin-right: 36px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 27px;
    width: calc(100% - 60px);
    height: 1px;
    background: $cyan2;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.form__list {
  @include list-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet) {
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $tablet) {
      width: 100%;
    }
  }
}

.form__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-bottom: 60px;
    font-size: 19px;
    line-height: 18px;
  }

  &--radio {
    margin-bottom: 25px;

    @media (min-width: $tablet) {
      margin-bottom: 58px;
      font-size: 19px;
      line-height: 18px;
    }
  }

  &--checkbox {
    margin-bottom: 33px;

    @media (min-width: $tablet) {
      margin-bottom: 49px;
      width: 45%;
      margin-right: 36px;

      &:nth-child(2n+2) {
        margin-right: 0;
      }

      &:last-child {
        margin-bottom: 49px;
      }
    }

    @media (min-width: $desktop) {
      width: 25%;
      margin-right: 43px;

      &:nth-child(2n+2) {
        margin-right: 43px;
      }
    }
  }

  &--text-input {
    margin-bottom: 24px;

    @media (min-width: $tablet) {
      margin-bottom: 24px;
    }
  }

  &--tel {
    margin-bottom: 34px;

    @media (min-width: $tablet) {
      margin-bottom: 19px;
    }
  }
}

.form__note {
  @include list-reset;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  color: $grey;

  @media (min-width: $tablet) {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  width: 100%;
  justify-content: center;
  font-size: 17px;

  @media (min-width: $tablet) {
    width: 34.5%;
    order: -1;
    margin-right: auto;
  }

  @media (min-width: $tablet) {
    width: 230px;
  }
}
