.production {
  padding-bottom: 58px;
  @include mobile-padding;

  @media (min-width: $tablet) {
    padding-bottom: 63px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 103px;
    box-sizing: border-box;
    @include max-width;
  }
}

.production__wrapper {
  border: 1px solid $light-grey1;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    display: grid;
    position: relative;
    grid-template-columns: 682px 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 79px;
    padding-bottom: 0;
    padding-right: 55px;

    &:hover {
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: calc(100% - 682px);
        right: 0;
        box-shadow: 0 6px 10px rgba($black, 0.1);
      }
    }

    &:active {
      &::after {
        box-shadow: 0 3px 5px rgba($black, 0.1);
      }
    }
  }
}

.production__icon {
  position: absolute;
  top: 48%;
  left: 33px;
  transform: translateY(-50%);

  @media (min-width: $tablet) {
    top: 65%;
    left: 40px;
  }

  @media (min-width: $desktop) {
    left: 0;
    top: 37%;
  }
}

.production__title-wrapper {
  position: relative;
}


.production__title {
  @include list-reset;
  padding: 21px 13px 26px 91px;
  font-weight: bold;
  font-size: 17px;

  @media (min-width: $tablet) {
    padding-top: 42px;
    padding-left: 105px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 20px;
  }

  @media (min-width: $desktop) {
    z-index: 1;
    padding-top: 96px;
    padding-left: 0;
    width: 100%;
  }
}

.production__description {
  @include list-reset;
  font-size: 13px;
  color: $grey;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 53px;
    padding-top: 18px;
  }
}

.production__player {
  position: relative;

  @media (min-width: $tablet) {
    order: -1;
    height: 455px;
  }

  @media (min-width: $desktop) {
    height: 100%;
    margin-bottom: 0;
    grid-row: 1/3;
  }
}

.production__player-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;

  @media (min-width: $tablet) {
    width: 102px;
    height: 77px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 76px;
  }

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}


.production__button {
  font-size: 18px;
  line-height: 16px;

  @media (min-width: $tablet) {
    font-size: 17px;
  }
}

.production__video {
  display: block;
  width: 100%;
  height: 100%;
}

.production__info {
  padding: 35px 32px 33px 32px;

  @media (min-width: $tablet) {
    padding: 14px 40px 45px 40px;
  }

  @media (min-width: $desktop) {
    z-index: 1;
    padding: 0 0 30px 0;
  }
}
