
.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.social__link {
  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }
}

@media (min-width: $tablet) {
  .social__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
